

h1 {
    background-color:black;
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cloud {
    color:aqua;
}
h2 {
    background-color:rebeccapurple;
    color:white;
    text-align:center;
    font-family: cursive sans-serif;
}
h3 {
    background-color:skyblue;
    text-align:end;
    font-family: helvetica, sans-serif;
}