.search{
    border-radius:10px;
    padding:3px 30px;
    border-color:green;
    color:green;
    margin: 5px 0px;
}
.plus{
    border-radius:50%;
    background-color: lightgreen;
    color:white;
    border-width: 0px;
    margin: 5px 0px;
    font-size: 20px;
}
.create{
    background-color: rgb(48, 125, 197);
    color: white;
    box-shadow: 2px 2px black;
    padding: 5px 20px;
    margin: 5px 0px;
}